
<%= link_to "Wounds for this patient", @status.wound.patient %> | <%= link_to "Statuses for this wound", @status.wound %> | 


<hr>

<h2>Status: <%= @status.updated_at.strftime("%B %e, %Y at %l:%M%p") %></h2>
<p>Description: <%= @status.note %></p>

<h4>Image:</h4>
<%= image_tag @status.image.url(:original), width: '150', height: '150', class: 'img-thumbnail' %>

<hr>

<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>Stage:</th><th>Stage Description:</th><th>Appearance:</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><%= @status.stage %></td><td><%= @status.stage_description %></td><td><%= @status.appearance %></td>
		</tr>
	</tbody>

	<thead>
		<tr>
			<th>Drainage:</th><th>Odor:</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><%= @status.drainage %></td><td><%= @status.odor %></td>
		</tr>
	</tbody>
</table>

<table class="table table-striped table-bordered table-hover">



	<thead>
		<tr>
			<th>Color:</th><th>Treatment:</th><th>Treatment Response:</th><th>Pain:</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><%= @status.color %></td><td><%= @status.treatment %></td><td><%= @status.treatment_response %></td><td><%= @status.pain %></td>
		</tr>
	</tbody>

	<thead>
		<tr>
			<th>Length:</th><th>Width:</th><th>Depth:</th><th>Tunnel:</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><%= @status.length %></td><td><%= @status.width %></td><td><%= @status.depth %></td><td><%= @status.tunnel %></td>
		</tr>
	</tbody>

</table>

<hr>

<h4>HL7 Export <small><a href="#">(download)</a></small></h4> 

<div class="panel panel-default">
  <div class="well">
  <% @wound_export.each do |segment| %>
    <small><%= segment %></small><br />
  <% end %>
  </div>
</div>

