<br><br>
<%= link_to "Wounds for this patient", @status.wound.patient %>
<br><br>
<%= link_to "Statuses for this wound", @status.wound %>

<h1> Time status was recorded: <%= @status.updated_at.strftime("%B %e, %Y at %l:%M%p") %></h1>

<h4>Stage: </h4><%= @status.stage %>
<br>
<h4>StageDescription: </h4><%= @status.stage_description %>
<br>
<h4>Appearance: </h4><%= @status.appearance %>
<br>
<h4>Drainage: </h4><%= @status.drainage %>
<br>
<h4>Odor: </h4><%= @status.odor %>
<br>
<h4>Color: </h4><%= @status.color %>
<br>
<h4>Treatment: </h4><%= @status.treatment %>
<br>
<h4>Treatment Response: </h4><%= @status.treatment_response %>
<br>
<h4>Length: </h4><%= @status.length %>
<br>
<h4>Width: </h4><%= @status.width %>
<br>
<h4>depth: </h4><%= @status.depth %>
<br>
<h4>Tunnel: </h4><%= @status.tunnel %>
<br>
<h4>Pain: </h4><%= @status.pain %>
<br>
<h4>Note: </h4><%= @status.note %>
<br>
<h4>Picture: </h4><%= @status.image_url %>
