
<h2> Welcome back, <%= @user.first_name %>!</h2>

<h3>Here are your current patients:</h3>

<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th>#</th> <th>Patient Name</th><th>Age</th><th>Sex</th> <th>Room Number</th>
		</tr>
	</thead>
	<tbody>
<% @user.patients.each do |patient| %>
	<tr>
	<td><%= patient.id %></td>
  <td><%= link_to "#{patient.name}", patient %></td>
  <td><%= patient.age %></td>
  <td><%= patient.sex %></td>
  <td><%= patient.room_number %></td>
  </tr>
<%end%>
	</tbody>
</table>


