<%= link_to "Home", root_path %> - <%= link_to "View all patients", @patient.user %> - <%= link_to "Record New Wound", new_wound_path(@patient) %>
<hr>

<h3>Patient Name: <%= @patient.name %></h3>

<h4>Wounds:</h4>

<table class="table table-hover table-bordered">
	<thead>
		<tr>
		<th>Wound No.</th> <th>Wound</th> <th>Description</th>
		</tr>
	</thead>

	<tbody>
		<% @patient.wounds.each do |wound| %>
	  <tr> 
  	<td><%= wound.id %></td>

  	<td><%= link_to "#{wound.location}", wound_path(wound) %></td>

  	<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
	  </tr>
	  <% end %>
	</tbody>

</table>
