<%= link_to "Home", root_path %> - <%= link_to "View all patients", @patient.user %> - <%= link_to "Record New Wound", new_wound_path(@patient) %>
<hr>

<h4>Patient Name: <%= @patient.name %></h4>

<p>Below is a list of the patients wounds. Click on a wound to see statuses.</p>

<table class="table table-hover table-bordered">
	<thead>
		<tr>
		<th>Wound No.</th> <th>Wound</th> <th>Description</th>
		</tr>
	</thead>

	<tbody>
		<% @patient.wounds.each do |wound| %>
	  <tr> 
  	<td><%= wound.id %></td>

  	<td><%= link_to "#{wound.location}", wound_path(wound) %></td>

  	<td>Pressure Ulcer</td>
	  </tr>
	  <% end %>
	</tbody>

</table>
