<%= link_to "View all wounds", @wound.patient %> | <%= link_to "Record New Status", new_wound_status_path(@wound.id, :patient_id => @wound.patient) %>

<hr>

<h2>Wound Statuses: </h2>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Time</th> 
      <th>Stage</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @wound.statuses.each do |status| %>

      <tr>
        <td><%= status.id %></td>
        <td><%= link_to status.created_at.strftime("%B %e, %Y at %l:%M%p"), status_path(status.id) %></td>
        <td><%= status.stage %></td>
        <td><%= status.stage_description %></td>

        <td>
        <% if status.active %>
          <%= button_to "Mark as Inactive", status_path(status), method: :destroy, :class => 'btn btn-sm btn-danger' %>
        <% else %>
          <%= button_to "Inactive", status_path(status.id), :class => 'btn btn-default btn-sm disabled' %> 
            
         <% end %>
         </td> 
      </tr>
     <% end %>
  </tbody>




