<%= link_to "Home", root_path %> - <%= link_to "View all wounds", @wound.patient %> - <%= link_to "Record New Status", new_wound_status_path(@wound.id, :patient_id => @wound.patient) %>

<hr>


<h3>Wound Statuses: </h3>

<p>Patient: <%= @wound.patient.name %></p>



<p>Area</p>



<div class="row">
  <p class="wa-ctr-text">Wound area(length * width) over time.</p>
   <%= line_chart @statuses.group_by_day(:observation_date).maximum("statuses.length * statuses.width")  %>
   <p class="wa-ctr-text">Time</p>
</div><br><br>



<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Status No.</th>
      <th>Observation Date</th> 
      <th>Stage</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @wound.statuses.each do |status| %>

      <tr>
        <td><%= status.id %></td>
        <td><%= link_to status.observation_date.strftime("%B %e, %Y at %l:%M%p"), status_path(status.id) %></td>
        <td><%= status.stage %></td>
        <td><%= status.stage_description %></td>

        <td>
        <% if status.active %>
          <%= button_to "Mark as Inactive", status_path(status), method: :destroy, :class => 'btn btn-sm btn-danger' %>
        <% else %>
          <%= button_to "Inactive", status_path(status.id), :class => 'btn btn-default btn-sm disabled' %> 
            
         <% end %>
         </td> 
      </tr>
     <% end %>
  </tbody>
</table>

